body
	font-family: $font-main
	font-size: 14px
	font-weight: 400
	background-color: #ffffff

.header
	padding-left: 15px
	padding-right: 15px

section
	padding-left: 15px
	padding-right: 15px
	padding-top: 30px
	padding-bottom: 100px
	position: relative
	min-height: calc(100vh - var(--footer-height) - #{$header-height})
	&.main-page
		@media #{$sm}
			padding-top: 0

.menu-open
	width: 100%
	height: 100vh
	overflow: hidden
	position: fixed
.container
	position: relative
	width: 100%
	max-width: $container
	margin: 0 auto

.first-screen
	display: grid
	grid-template-columns: minmax(450px, 74.36%)  minmax(254px, 1fr)
	grid-template-rows: 150px 150px 150px
	grid-column-gap: 30px
	grid-row-gap: 30px
	position: relative
	border-radius: 30px 0 0 0
	overflow: hidden
	& .mpfs__box
		position: absolute
		top: 0
		left: 0
		z-index: 110
		pointer-events: none
		@media #{$sm}
			left: -15px
		.title
			position: absolute
			top: 23px
			left: 30px
			max-width: 195px
			z-index: 999
			@media #{$sm}
				top: 15px
				left: 15px
		& .mpfs
			position: absolute
			top: -25px
			left: 0
	@media #{$sm}
		grid-template-columns: 1fr
		grid-template-rows: 350px repeat(3, 200px)
		grid-column-gap: 0
		overflow: visible










.flex
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	.header &
		@media #{$lgx-min}
			padding: 10px 0

.mainArt
	height: 100%
	grid-column: 1
	grid-row: 1/span 3
	border-radius: 30px
	overflow: hidden
	position: relative
	@media #{$sm}
		grid-row: 1
		border-radius: 0
		margin-left: -15px
		margin-right: -15px
