section
  .container
              ul.breadcrumbs
                  li
                      a(href='#') Главная
                  li
                      a(href='#') Калькулятор для похудения

  .container
    h2.title Калькулятор для похудения
  
    script(src='./libs/calculator-slimming.js')

    form.calculator.calculator-slimming(name='calculatorSlimming')

      .calculator-slimming-col

        p Рекомендуем попробовать наш новый калькулятор для похудения, который поможет выполнить расчет ккал для снижения веса в зависимости от ряда условий.

        .calculator-row

          .calculator-item
            h3.calculator-title Возраст:
            input#age(type='text', maxlength='2', size='3', name='age', value='24', onfocus='if (this.value=="24") this.value="";', onblur='if (this.value=="") this.value="24";')

          .calculator-item
            h3.calculator-title Пол:

            .calculator-radio.flex-row

              .calculator-radio-item
                input#sexMale(type='radio', checked='', value='M', name='sex')
                label(for='sexMale') Мужской

              .calculator-radio-item
                input#sexFem(type='radio', value='F', name='sex')
                label(for='sexFem') Женский

        .calculator-row

          .calculator-item
            h3.calculator-title Вес:
            input#weight(type='text', maxlength='3', size='3', name='weight', value='90', onfocus='if (this.value=="90") this.value="";', onblur='if (this.value=="") this.value="90";')

          .calculator-item
            h3.calculator-title Измерять в:

            .calculator-radio.flex-row

              .calculator-radio-item
                input#weighttype2(type='radio', value='K', checked='', name='weighttype')
                label(for='weighttype2') в килограммах

              .calculator-radio-item
                input#weighttype1(type='radio', value='P', name='weighttype')
                label(for='weighttype1') в фунтах

        .calculator-row

          .calculator-item
            h3.calculator-title Рост:
            .calculator-wrap
              input#sm(type='text', maxlength='4', size='3', name='sm', value='186', onfocus='if (this.value=="186") this.value="";', onblur='if (this.value=="") this.value="186";')
              span.calculator-height см.

          .calculator-item
            h3.calculator-title  Физическая активность
            .calculator-select
              select#activity(size='1', name='activity')
                option(value='1.0') Основной обмен
                option.hilite(value='1.2') минимум/отсутствие физ. нагрузки
                option(value='1.375', selected='') 3 раза в неделю
                option.hilite(value='1.4625') 5 раз в неделю
                option(value='1.550') 5 раз в неделю (интенсивно)
                option.hilite(value='1.6375') Каждый день
                option(value='1.725') Каждый день интенсивно или два раза в день
                option.hilite(value='1.9') Ежедневная физ. нагрузка+физ. работа

        .calculator-row

          .calculator-item
            h3.calculator-title Результат в

            .calculator-radio.flex-col
              .calculator-radio-item
                input#optResults(type='radio', checked='', value='C', name='optResults')
                label(for='optResults') ккал
              .calculator-radio-item
                input#optResults2(type='radio', value='K', name='optResults')
                label(for='optResults2') килоджоулях

          .calculator-item
            h3.calculator-title Формула:

            .calculator-radio.flex-col
              .calculator-radio-item
                input#optMS(type='radio', checked='', value='M', name='optFormula')
                label(for='optMS')
                  | Миффлина - Сан Жеора
                  br
              .calculator-radio-item
                input#optHB(type='radio', value='H', name='optFormula')
                label(for='optHB') Харриса-Бенедикта

      .calculator-slimming-col

        .calculator-box

          .calculator-table-header

            .calculator-table-header__item
              p.calculator-table-header__title Не изменяя вес:
              p#answer

            .calculator-table-header__item
              p.calculator-table-header__title Потеря веса:
              p#lose

            .calculator-table-header__item
              p.calculator-table-header__title Быстрая потеря веса:
              p#loseExt

          .calculator-table-body
            table#calcResultsTable
              tbody
                tr
                  th
                  th Быстрая потеря веса
                  th Потеря веса
                  th Не изменяя вес
                tr
                  th П
                    span о
                    | н
                    span едельник
                  td
                  td
                  td
                tr
                  th Вт
                    span орник
                  td
                  td
                  td
                tr
                  th Ср
                    span еда
                  td
                  td
                  td
                tr
                  th Ч
                    span е
                    | т
                    span верг
                  td
                  td
                  td
                tr
                  th П
                    span я
                    | т
                    span ница
                  td
                  td
                  td
                tr
                  th С
                    span у
                    | б
                    span бота
                  td
                  td
                  td
                tr
                  th В
                    span о
                    | с
                    span кресенье
                  td
                  td
                  td

        button#Button1.calculator-btn(onclick='calcIt()', type='button', value='Вычислить', name='Button1') Вычислить
