section.error-page
    .container
        .error-page__img
            img(src="./img/error-left.svg")
            img(src="./img/error-mid.svg")
            img(src="./img/error-right.svg")
        .title ИЗВИНИТЕ, СТРАНИЦА НЕ НАЙДЕНА
        button.btn.btn__yellow На главную