section.news-page
    .container
            ul.breadcrumbs
                li
                    a(href='#') Главная
                li
                    a(href='#') Новости
                li
                    a(href='#') Действительно ли мясо настолько вредно?
    .grid__container
        div
            .title__box
                h2.title Новости
                .filter__box
                    ul.filter
                      li.filter__item.filter__item--active(data-filter='date') по новизне
                      li.filter__item(data-filter='views') по популярности
            .grid__block
                - for (let i = 0; i < 9; i++)
                    article.article-block
                        a.image-link(href='selected.html')
                        .article-img
                            img.cover-img(src='/img/default.jpg', alt='', title='')
                        .article-content
                            h3: a.article-link(href='selected.html') Экономисты о новом налоге на IT-отрасль:  Добровольно в Украине такие вещи работать  не будут
                            .article-description
                                span.text-small 21.08.2019
                                a.text-small(href='#') Евгений Третяк
            include ../components/pagination
        div
            include ../components/sidebar
