section.new-page
    .container
        ul.breadcrumbs
            li
                a(href='#') Главная
            li
                a(href='#') Новости
            li
                a(href='#') Действительно ли мясо настолько вредно?
    .container
        article.article-block
            .article-description
                span.text-small 21.08.2019
                a.text-small(href='#') Евгений Третяк
            .title Экономисты о новом налоге на IT-отрасль:  Добровольно в Украине такие вещи работать  не будут
            .article-img
                img.cover-img(src='/img/default.jpg', alt='', title='')
            .article-body
                p Нитраты, насыщенные жиры, соль - красное мясо, похоже, полно всего того, чего врачи рекомендуют остерегаться в еде. Но если мы все же едим его, каков реальный риск и чем именно мы рискуем?
                p Одна из последних новостных историй разожгла аппетит всех мясоедов в мире. Оказывается, красное мясо вовсе не такое вредное, как нам пытаются доказать.
                p Вызвавший споры отчет, в котором снова анализируются данные из предыдущих исследований, подводит к мысли, что надо быть осторожным и не стараться слепо следовать принятым в международном здравоохранении рекомендациям, призывающим нас сократить количество красного мяса в рационе.
                p Авторы выносят вердикт: не существует надежных доказательств того, что снижение потребления красного мяса как-то повлияет на вероятность заболеть раком в течение жизни. А те доказательства о рисках, которые имеются, очень слабые.
                p В том аналитическом обзоре рассматривались данные 70 исследований на основе историй болезни шести миллионов человек.
                p Стоит отметить, что это вполне стыкуется с тем, как сайт BBC Future освещает вопросы здорового питания и рисков, связанных с употреблением некоторых продуктов.
                p Вся правда о яйцах: неужели это идеальная еда? Насыщенные жиры - зло или норма? Кому верить? Вредно всё? Разоблачение мифов о еде Так ли полезны свежевыжатые соки? И выводят ли они токсины? В последние годы несколько научных отчетов ставили под вопрос вред мяса и переработанных продуктов питания.
                p В 2018 году ученые и политики агитировали против применения нитратов и нитритов как консервантов переработанного мяса, потому что были свидетельства, связывающие эти химические соединения с раковыми заболеваниями.
            .share__block
                p.share__text Поделиться:
                a(href='#0')
                    +facebook
                a(href='#0')
                    +vk
                a(href='#0')
                    +instagram
                a(href='#0')
                    +twitter
                a(href='#0')
                    +telegram
                a(href='#0')
                    +ok