.container
            ul.breadcrumbs
                li
                    a(href='#') Главная
                li
                    a(href='#') Калькулятор потребности калорий

.container
  h2.title Калькулятор потребности калорий

  script(src='/libs/calculator-calorie-needs.js')
    
  .calculator.calculator-calorie-needs
    
    
    .calculator-box
      
      .calculator-row
        .calculator-item
          h3.calculator-title Ваш возраст:
          .calculator-select
            select(name='age')
              option(selected='', value='0')
              option(value='1') 0-3 мес.
              option(value='2') 4-6 мес.
              option(value='3') 7-12 мес.
              option(value='4') 1-3 года
              option(value='5') 4-6 лет
              option(value='6') 6 лет (школьник)
              option(value='7') 7-10 лет
              option(value='8') 11-13 лет
              option(value='9') 14-17 лет
              option(value='10') 18-29 лет
              option(value='11') 30-39 лет
              option(value='12') 40-59 лет
              option(value='13') 60-74 лет
              option(value='14') старше 75 лет
              
          #woman.calculator-select.woman
            select(name='w')
              option(selected='', value='0')
              option(value='1') беременные: да
              option(value='2') кормящие (1-6 мес.)
              option(value='3') кормящие (7-12 мес.)
              option(value='4') беременные: нет

        .calculator-item
          h3.calculator-title Пол:
          .calculator-radio-item
            input#sex1(onclick="document.getElementById('woman').setAttribute('style','opacity:0;pointer-events:none;')", type='radio', name='sex', checked='', value='1')
            label(for='sex1') Мужской
          .calculator-radio-item
            input#sex2(onclick="document.getElementById('woman').setAttribute('style','opacity:1;pointer-events:auto;')", type='radio', name='sex', value='0')
            label(for='sex2') Женский

          div(style='display:none')
            span.result
              input#weight(type='text', value='0')
            span.from Ваш вес в кг.
            div

      .calculator-row
        
        .calculator-item
          h3.calculator-title Ваша физическая активность
          .calculator-select
            select(name='act')
              option(selected='', value='0')
              option(value='1') незначительная физическая активность
              option(value='2') легкая физическая активность
              option(value='3') средняя физическая активность
              option(value='4') высокая физическая активность
              option(value='5') очень высокая физическая активность
              
      button.calculator-btn(type='button', data-cacl='calorie-needs') Вычислить
    
    .calculator-box
      table
        tbody
          tr
            th(colspan='2') Рекомендуемое суточное количество
          tr
            td Калории, ккал
            td#calories
          tr
            td Белки, г
            td#protein
          tr
            td Животные белки, г
            td#animal-protein
          tr
            td Жиры, г
            td#fats
          tr
            td Углеводы, г
            td#carbohydrates
