.sidebar
    .title Последние новости
    .sidebar__box
        - for (let i = 0; i < 7; i++)
            article.article-block
                h3: a.article-link(href='#') Экономисты о новом налоге на IT-отрасль:  Добровольно в Украине такие вещи работать  не будут
                .article-description
                    span.text-small 21.08.2019
                    a.text-small(href='#') Евгений Третяк

