.subscribe
    .subscribe__header
        +sub-icons
    .subscribe__block
        .title Подписка на новость
        input(type="email" placeholder="Tretyakbro@gmail.com")
        a.btn.btn__yellow.btn__full-width Подписаться