.accordion
    .accordion__title.title Теги
        +arrow
    ul.accordion__box
        li.accordion__item
            a(href="#0") #Витаминные комплексы
        li.accordion__item
            a(href="#0") #Витамины с йодом
        li.accordion__item
            a(href="#0") #Группа A
        li.accordion__item
            a(href="#0") #Группа B
        li.accordion__item
            a(href="#0") #Группа C
        li.accordion__item
            a(href="#0") #Группа D
        li.accordion__item
            a(href="#0") #Группа E
        li.accordion__item
            a(href="#0") #Группа F
        li.accordion__item
            a(href="#0") #Группа G
        li.accordion__item
            a(href="#0") #Минералы и микроэлементы
