.accordion.themes
    .accordion__title.title Темы
        +arrow
    ul.accordion__box
        li
            a(href="#0").accordion__item Новые статьи
            ul.accordion__subBox
                li.accordion__subItem
                    a(href="#0") Буддизм
                li.accordion__subItem
                    a(href="#0") Здоровье
                li.accordion__subItem
                    a(href="#0") Питание
                li.accordion__subItem
                    a(href="#0") Йога
                li.accordion__subItem
                    a(href="#0") Разное
        li
            a(href="#0").accordion__item Буддизм
            ul.accordion__subBox
                li.accordion__subItem
                    a(href="#0") 1
                li.accordion__subItem
                    a(href="#0") 2
                li.accordion__subItem
                    a(href="#0") 3
                li.accordion__subItem
                    a(href="#0") 4
                li.accordion__subItem
                    a(href="#0") 5
        li
            a(href="#0").accordion__item Христианство
            ul.accordion__subBox
                li.accordion__subItem
                    a(href="#0") 1
                li.accordion__subItem
                    a(href="#0") 2
                li.accordion__subItem
                    a(href="#0") 3
                li.accordion__subItem
                    a(href="#0") 4
                li.accordion__subItem
                    a(href="#0") 5
        li
            a(href="#0").accordion__item Книги
            ul.accordion__subBox
                li.accordion__subItem
                    a(href="#0") 1
                li.accordion__subItem
                    a(href="#0") 2
                li.accordion__subItem
                    a(href="#0") 3
                li.accordion__subItem
                    a(href="#0") 4
                li.accordion__subItem
                    a(href="#0") 5

