.accordion
    .accordion__title.title Темы
        +arrow
    ul.accordion__box
        li.haveChild
            a(href="#0").accordion__item 1
            ul.accordion__subBox
                li.accordion__subItem
                    a(href="#0") 1
                    a(href="#0") 2
                    a(href="#0") 3
                    a(href="#0") 4
                    a(href="#0") 5
        li.accordion__item
            a(href="#0") 2
        li.accordion__item
            a(href="#0") 3
        li.accordion__item
            a(href="#0") 4
        li.accordion__item
            a(href="#0") 5
        li.accordion__item
            a(href="#0") 6
        li.accordion__item
            a(href="#0") 7
        li.accordion__item
            a(href="#0") 8
        li.accordion__item
            a(href="#0") 9
        li.accordion__item
            a(href="#0") 10

