.calculator
  &__block
    display: flex
    align-items: center
    & li
      margin-right: 30px
      &:nth-child(2)
        & p
          max-width: 100px
      &:nth-child(3)
        & p
          max-width: 129px
      &:nth-child(4)
        margin-right: 0
        & p
          max-width: 80px

  &__item
    display: flex
    align-items: center
    font-size: 14px
    line-height: 14px
    color: #22242E
    & p
      margin-left: 10px
    &:hover
      color: #71B35D
      & path
        fill: #71B35D
      li:last-child &
        & path
          stroke: #71B35D
          fill: none

