/* common calculators style */
.calculator {
  select,
  input[type=text],
  input[type=number] {
    //width: 100%;
    min-width: 150px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #EAECF0;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  select {
    width: 100%;
  }
}

.calculator-row {
  width: 100%;
  display: flex;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.calculator-item {
  min-width: 150px;
  margin-right: 0;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.calculator-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.calculator-radio {
  display: flex;
  &.flex-row {
    align-items: center;
    .calculator-radio-item {
      + .calculator-radio-item {
        margin-left: 20px;
      }
    }
  }
  &.flex-col {
    flex-direction: column;
    .calculator-radio-item {
      + .calculator-radio-item {
        margin-top: -10px;
      }
    }
  }
}

.calculator-radio-item {

}

.calculator-wrap {
  position: relative;
  display: inline-block;
}

.calculator-height {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.calculator-select {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 20px;
    width: 6px;
    height: 6px;
    display: block;
    border: 1px solid #7A7C82;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) translateY(-50%);
  }
  select {
    padding-right: 40px;
  }
}

.calculator-btn {
  width: 100%;
  height: 52px;
  text-align: center;
  color: #22242E;
  font-size: 17px;
  font-weight: 700;
  background-color: #F6CC56;
  border-radius: 40px;
  margin-bottom: 30px;
  transition: background-color .3s,
              transform .3s;
  &:hover {
    background-color: #FFD768;
  }
  &:active {
    transform: scale(0.95);
  }
}

.calculator-box {
  display: inline-block;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

$calc-opacity: opacity .2s;

.calculator-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90.12deg, #8CC97B 0.01%, #75B662 99.98%);
  padding: 30px 15px;
  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .calculator-table-header__title {
    ~ p {
      min-height: 14px;
      transition: $calc-opacity;
      @media (max-width: 767px) {
        min-height: 17px;
        margin-bottom: 25px;
      }
    }
  }
}

.calculator-table-header__item {
  padding-left: 15px;
  padding-right: 15px;
  &:last-of-type {
    .calculator-table-header__title {
      ~ p {
        @media (max-width: 767px) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.calculator-table-header__title {
  min-width: 120px;
  font-weight: 700;
  margin-bottom: 10px;
}

.calculator-table-body {
  background-color: #fff;
  @media (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
  }
  table {
    width: 100%;
  }
  tr {
    &:first-child {
      th {
        height: 45px;
        text-align: center;
        padding: 5px 25px;
        @media (max-width: 767px) {
          height: 55px;
          padding: 5px;
        }
      }
    }
    &:nth-child(even) {
      background-color: rgba(234, 236, 240, 0.3);
    }
  }
  th {
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #71B35D;
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 767px) {
      font-size: 12px;
      padding-left: 15px;
      padding-right: 15px;
      > span {
        display: none;
      }
    }
  }
  td {
    font-size: 12px;
    color: #22242E;
    text-align: center;
    transition: $calc-opacity;
  }
}

/* calculator slimming style */
.calculator-slimming {
  display: flex;
  @media (min-width: 1025px) {
    align-items: flex-end;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    .calculator-item {
      min-width: 45%;
    }
  }
}

.calculator-slimming-col {
  width: 100%;
  &:first-of-type {
    @media (min-width: 1025px) {
      max-width: 467px;
      flex-shrink: 0;
      margin-right: 30px;
    }
    p {
      line-height: 1.4;
      margin-bottom: 20px;
    }
  }
  &:last-of-type {
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

/* calculator calorie needs style */
.calculator-calorie-needs {
  display: flex;
  align-items: flex-start;
  @media (max-width: 767px) {
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
  }
  .calculator-box {
    padding: 30px;
    @media (max-width: 767px) {
      width: 100%;
    }
    &:last-of-type {
      width: 100%;
      padding: 0;
      @media (min-width: 768px) {
        max-width: 431px;
        margin-left: 30px;
      }
    }
  }
  .calculator-row {
    margin-bottom: 0;
    &:first-of-type {
      margin-bottom: 10px;
      .calculator-item {
        &:first-of-type {
          margin-right: 30px;
        }
      }
    }
    &:last-of-type {
      width: 100%;
      .calculator-item {
        width: 100%;
      }
      .calculator-select {
        margin-bottom: 30px;
      }
    }
  }
  .calculator-item {
    margin-right: 0;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  .calculator-select {
    margin-bottom: 20px;
    &.woman {
      opacity: 0;
      transition: opacity .2s;
      pointer-events: none;
    }
    select {
      min-width: 194px;
    }
  }
  .calculator-btn {
    margin-bottom: 0;
  }
  table {
    width: 100%;
    font-size: 14px;
    tr {
      height: 40px;
      &:nth-child(even) {
        background-color: rgba(234, 236, 240, 0.3);
      }
    }
    th {
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      background-image: linear-gradient(90.17deg, #8CC97B 0.01%, #75B662 99.98%);
      padding-left: 30px;
      padding-right: 30px;
    }
    td {
      &:first-child {
        font-weight: 700;
        color: #71B35D;
        padding-left: 30px;
      }
      &:last-child {
        width: 100px;
        text-align: right;
        padding-right: 30px;
        //opacity: 0;
        transition: $calc-opacity;
      }
    }
  }
}

/* calculator calorie style */
.calculator-calorie {
  @media (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
  }
  .calculator-box {
    width: 100%;
    padding: 30px;
    @media (min-width: 768px) {
      max-width: 373px;
    }
    @media (max-width: 767px) {
      padding: 30px 15px;
    }
  }
  .calculator-item {
    width: 100%;
    margin-right: 0;
  }
  input,
  select,
  .calculator-wrap {
    width: 100%;
  }
}

.calculator-calorie-results {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #71B35D;
  input {
    height: auto !important;
    font-size: 26px;
    text-align: center;
    border: 0 !important;
    margin-bottom: 10px;
    pointer-events: none;
  }
  span {
    font-size: 17px;
  }
}
