#logodesc
  display: none
  @media #{$lgx-min}
    display: block
#logowhite
  display: block
  @media #{$lgx-min}
    display: none

.logo
  @media #{$lgx}
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)