.share__block
  & svg
    margin-right: 10px
    border-radius: 50%
    overflow: hidden
    cursor: pointer
    &:hover
      background: linear-gradient(270deg, #8CCA7B 0%, #75B662 100%)
      & circle
        stroke: #8CCA7B
      & path
        fill: #FFFFFF