.share
  &__block
    & a:not(:last-child)
      margin-right: 10px
    & svg
      border-radius: 50%
      overflow: hidden
      cursor: pointer
      .footer &
        & path
          fill: rgba(255, 255, 255, .6)
        & circle
          stroke: rgba(255, 255, 255, .6)
        &:hover
          background: #F8D851
          & circle
            stroke: #F8D851
          & path
            fill: #000000
      .header &, .new-page &
        &:hover
          background: linear-gradient(270deg, #8CCA7B 0%, #75B662 100%)
          & circle
            stroke: #8CCA7B
          & path
            fill: #FFFFFF
  &__text
    font-weight: 700
    text-transform: uppercase
    margin-right: 15px
    display: block
    margin-bottom: 10px
    @media #{$sm-min}
      display: inline-block
      margin-bottom: 0