.header
  @media #{$lgx}
    background: linear-gradient(90deg, #8ECB7E -74.27%, #66AA52 100%)
    & .share__block
      display: none
    & .container
      @media #{$lgx}
        height: 60px
.subheader
  background: linear-gradient(90deg, #8ECB7E -74.27%, #66AA52 100%)
  @media #{$lgx}
    display: none
    background: #8ECB7E
    position: relative
    z-index: 1000
  & .container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    position: relative
    @media #{$lgx}
      flex-direction: column
