footer.footer
    .container
        .footer__block
            +logowhite
            p Интернет-издание честных новостей.
            p  © Все права защищены. 2019
        .footer__block
            p.footer__title Меню
            .footer__menuBox
                div
                    a(href="#0") О нас
                    a(href="#0") Новости
                    a(href="#0") Полезные продукты
                    a(href="#0") Рецепты здоровых блюд
                    a(href="#0") Таблицы калорийности
                div
                    a(href="#0") Витамины и полезные компоненты
                    a(href="#0") Видео
                    a(href="#0") Контакты
        .footer__block
            p.footer__title Дополнительная информация
            a(href="#0") Политика конфиденциальности
            a(href="#0") Правила пользования сайтом
            a(href="#0") Реклама
        .footer__block
            p.footer__title Контакты
            a(href="mailto:healthfoodwiki@gmail.com" type="mailto") healthfoodwiki@gmail.com
            .share__block
                a(href='#0')
                    +facebook
                a(href='#0')
                    +vk
                a(href='#0')
                    +instagram
                a(href='#0')
                    +twitter
                a(href='#0')
                    +telegram
                a(href='#0')
                    +ok