header.header
    .container.flex
        a.logo(href='#!')
           +logo
        .share__block
            a(href='#0')
                +facebook
            a(href='#0')
                +vk
            a(href='#0')
                +instagram
            a(href='#0')
                +twitter
            a(href='#0')
                +telegram
            a(href='#0')
                +ok
        ul.calculator__block
            li
                a(href="#0").calculator__item
                    +header-icon1
                    p Видео
            li
                a(href="#0").calculator__item
                    +header-icon2
                    p Калькулятор  для похудения
            li
                a(href="#0").calculator__item
                    +header-icon3
                    p Ваша потребность в калориях
            li
                a.calculator__item(href="#0")
                    +header-icon4
                    p Ваш расход калорий
header.subheader
    .container
        ul.menu
            li.menu__item
                a(href="#0") О нас
            li.menu__item
                a(href="#0") Новости
            li.menu__item
                a(href="#0") Полезные продукты
            li.menu__item
                a(href="#0") Рецепты здоровых блюд
            li.menu__item
                a(href="#0") Таблицы калорийности
            li.menu__item
                a(href="#0") Витамины и полезные компоненты
            li.menu__item
                a(href="#0") Контакты
        .search
            +search
