.text-small
  font-size: 12px
  color: #ffffff * .8
  position: relative
  &:first-child
    margin-right: 20px
    &:after
      content: ''
      position: absolute
      top: 50%
      right: -11px
      transform: translateY(-50%)
      width: 3px
      height: 3px
      background-color: rgba(255, 255, 255, .8)
      border-radius: 50%
  .selected-news &
    color: #22242E
    &:after
      background-color: rgba(0, 0, 0, .8)
    &:hover:not(:first-child)
      color: #67AB53



.title
  font-size: 26px
  line-height: 34px
  font-weight: 700
  margin-bottom: 30px
  color: #22242E
  text-transform: uppercase
  .selected-news &
    margin-top: 15px
  .author__block &
    margin-bottom: 15px
    text-align: center
    @media #{$mdx-min}
      text-align: left
  &__box
    display: flex
    justify-content: space-between
